body{
  background-size: cover;
  background-position: center;
  background-image: url(https://img.freepik.com/premium-vector/tax-form-state-government-taxation-with-forms-calendar-audit-calculator-analysis-accounting-payment-flat-background-illustration_2175-3808.jpg?w=2000);
  background-repeat: no-repeat;
}

form button {
  margin-top: 20px;
  margin-right: 20px;

}

div{
    margin-top: 20px;
}
table{

  border: solid;
  border-radius: 20px;
  background-color: white;
  padding: 20px;

}
.login{
  margin-top: 150px;
}
.register{
  margin-top: 75px;
}
.left{
  margin-left: 100px;
}
.left{
  margin-left: 500px;
}